          /* Styles */
          .swiper-slide img {
            margin-top: 4%;
            margin-bottom: 5.5%;
          }
          .swiper-slide p {
            display: block;
            margin-top: 1.5%;
            margin-bottom: 1.7%;
          }
          #container {
            height: 500px;
            width: 500px;
          }
          .info {
            z-index: 3;
            bottom: 0;
            left: 0;
            text-align: left;
            display: inline;
            font-family: Helvetica, Arial;
            color: white;
            position: absolute;
          }
          .info p {
            display: inline-block;
            border: solid 10px #262626;
            border-right-color: yellow;
            background: #262626;
            margin-top: -25%;
            margin-bottom: 20px;
            padding-left: 100px;
            padding-right: 30px;
          }
          .info a:visited {
            color: purple;
          }
          .ico {
            position: absolute;
            bottom: 50%;
          }
          #volgende1 {
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
          }
          #volgende2 {
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
          }
          #vorige1 {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          #vorige2 {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          #pagination {
            position: absolute;
            top: 0;
            right: 0;
            z-index:10;
            background: gray;
            width: 15%;
            height: 99.5%;
          }
          .item {
            border-bottom: solid yellow 2px;
          }
          .item:hover {
            color: yellow;
            background-color: #b3b3b3;
          }
          .tn img {
            position: absolute;
            margin-top: 10%;
            display: block;
          }
          h3 {
            text-align: center;
            display: block;
            margin-left: -2%;
          }
          h5 {
            text-align: center;
            height: 280px;
          }
          .pagi-footer {
            bottom: 0;
            right: 0;
            position: absolute;
            border: solid yellow 3px;
            z-index: 3;
            float: right;
            display: inline-block;
            background-color: yellow;
            width: 10.7%;
            padding-left: 2%;
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            padding-right: 2%;
          }
          .pagi-footer p {
            display: inline-block;
            margin-left: 25%;
          }
          .like-share1 {
            position: absolute;
            right:0;
            display: inline-block;
          }
          .like-share2 {
            position: absolute;
            right:0;
            display: inline-block;
          }
          .like-share3 {
            position: absolute;
            right:0;
            display: inline-block;
          }